{% extends "base.html" %}

{% block contenido %}

<div style="max-width:400px;margin:auto;background:white;padding:30px;border-radius:12px;box-shadow:0 6px 18px rgba(0,0,0,0.1);">

<h2>🔐 Cambiar contraseña</h2>

{% if error %}
<p style="color:red;">{{ error }}</p>
{% endif %}

<form method="POST">
<label>Nueva contraseña</label>
<input type="password" name="password" required style="width:100%;padding:10px;margin-top:10px;">
<button style="margin-top:15px;width:100%;">Guardar</button>
</form>

</div>

{% endblock %}
