<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Panel de Silobolsas</title>
</head>
<body>
  <h2>Panel de Silobolsas</h2>
  <table border="1">
    <tr>
      <th>ID</th>
      <th>Cereal</th>
      <th>Metros</th>
      <th>Lat</th>
      <th>Lon</th>
      <th>Fecha</th>
    </tr>
    {% for s in silos %}
    <tr>
      <td>{{ s[0] }}</td>
      <td>{{ s[1] }}</td>
      <td>{{ s[2] }}</td>
      <td>{{ s[3] }}</td>
      <td>{{ s[4] }}</td>
      <td>{{ s[5] }}</td>
    </tr>
    {% endfor %}
  </table>
</body>
</html>
